<p>Buongiorno {{ user }},</p>
<p>
    La informo che sono in scadenza i seguenti:
{% if items %}
<p><b>Items:</b></p>
<p>
    Codice | Descrizione | Data di scadenza reso
    <p>
        {% if items %}
        {% for item in items %}
            <li>
            <a href="{{ url_for('item', codice=item.codice, _external=True) }}">
                {{ item.codice }}
            </a>
             | {{ item.descrizione }} | {{ item.data_scadenza_reso.strftime('%d/%m/%Y') }}
            </li>
        {% endfor %}
        {% endif %}

    </p>
</p>
<p>
    Per visualizzare gli items in lista:
        <a href="{{ url_for('items_reso_in_scadenza', _external=True) }}">
            Visualizza
        </a>
</p>
{% endif %}
{% if bots %}
<p><b>Bots:</b></p>
<p>
    Codice | Descrizione | Data di scadenza
    <p>

        {% for bot in bots %}
            <li>
            <a href="{{ url_for('bot', codice=bot.codice, _external=True) }}">
                {{ bot.codice }}
            </a>
             | {{ bot.descrizione }} | {{ bot.data_scadenza.strftime('%d/%m/%Y') }}
            </li>
        {% endfor %}


    </p>
</p>
<p>
    Per visualizzare i bots in lista:
        <a href="{{ url_for('bots_in_scadenza', _external=True) }}">
            Visualizza
        </a>
</p>
{% endif %}
{% if proxies %}
<p><b>Proxy:</b></p>
<p>
    Codice | Descrizione | Data di scadenza
    <p>

        {% for proxy in proxies %}
            <li>
            <a href="{{ url_for('proxy', codice=proxy.codice, _external=True) }}">
                {{ proxy.codice }}
            </a>
             | {{ proxy.descrizione }} | {{ proxy.data_scadenza.strftime('%d/%m/%Y') }}
            </li>
        {% endfor %}

    </p>
</p>
<p>
    Per visualizzare i proxy in lista:
        <a href="{{ url_for('proxies_in_scadenza', _external=True) }}">
            Visualizza
        </a>
</p>
{% endif %}
<p>Saluti,</p>
<p>Info Copping</p>