{% extends "base.html" %}

{% block app_content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
        <ul class="nav navbar-nav">
            <li><button type="button" class="btn btn-default navbar-btn" onclick="location.href='{{ url_for('aggiungi_cliente') }}';">Aggiungi Cliente</button></li>
        </ul>
  </div>
</nav>

<p class="text-left">
        <h1>Elenco Clienti</h1>

        <div class="table-responsive">
        <table class="table table-hover">
                <thead>
                <tr>
                      <th>N°</th>
                      <th>Nome</th>
                      <th>Telefono</th>
                      <th>Taglia</th>
                      <th>Colore Preferito</th>
                </tr>
                </thead>

                {% if clienti %}

                    {% for cliente in clienti %}

                    <tr>
                        <td>
                            {{loop.index}}
                        </td>
                        <td>
                            <a href="{{ url_for('cliente', id=cliente.id) }}">
                                        {{ cliente.nome }}
                            </a>
                        </td>
                        <td>
                            {{ cliente.numero_telefono }}
                        </td>
                        <td>
                            {{ cliente.taglia }}
                        </td>
                        <td>
                            {{ cliente.colore_preferito }}
                        </td>
                    </tr>

                    {% endfor %}

                {% else %}
                <tbody>
                    <tr class="table">
                          <td colspan="5" class="table-active">Nessun item</td>
                    </tr>
                </tbody>
                {% endif %}
        </table>
        </div>
</p>


<div class="text-center">
    <div class="row">
        <div class="col-md-5">
        {% if not prev_url %}
            <button type="button" class="btn btn-light" onclick="location.href='{{ prev_url or '#' }}';" disabled>Indietro</button>
        {% else %}
            <button type="button" class="btn btn-light" onclick="location.href='{{ prev_url or '#' }}';">Indietro</button>
        {% endif %}
        </div>

        <div class="col-md-5">
        {% if not next_url %}
            <button type="button" class="btn btn-light" onclick="location.href='{{ next_url or '#' }}';" disabled>Avanti</button>
        {% else %}
            <button type="button" class="btn btn-light" onclick="location.href='{{ next_url or '#' }}';">Avanti</button>
        {% endif %}
        </div>
    </div>
</div>

{% endblock %}S