{% extends "base.html" %}

{% block app_content %}

<body>

    <div class="row">
    <div class="col-md-12">
    <form action="" method="post" class="form-horizontal">
                {{ form.hidden_tag() }}

                <div class="row mb-3 align-items-center">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                      <div class="container">
                            <ul class="nav navbar-nav">
                                <li>{{ form.submit_salva(class="btn btn-default navbar-btn") }}</li>
                                <li><button type="button" class="btn btn-default navbar-btn" onclick="location.href='{{ url_for('aggiungi_cliente') }}';">Aggiungi nuovo cliente</button></li>
                            </ul>
                      </div>
                    </nav>
                </div>

    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Generale</button>
        <button class="nav-link" id="nav-acquisti-tab" data-bs-toggle="tab" data-bs-target="#nav-acquisti" type="button" role="tab" aria-controls="nav-acquisti" aria-selected="true">Acquisti</button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <br>
        <div class="row mb-3 align-items-center">
            <h1>Dettaglio Cliente</h1>
        </div>

        <div class="row mb-3 align-items-center">
            <h5 style="color: blue;">Informazioni Cliente</h5>
        </div>

        <div class="row">
            <div class="row mb-3 align-items-center">
                {{ form.nome.label(class="col-sm-2 control-label") }}
                <div class="col-sm-7">
                    {{ form.nome(class="form-control") }}
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                {{ form.numero_telefono.label(class="col-sm-2 control-label") }}
                <div class="col-sm-2">
                {{ form.numero_telefono(class="form-control") }}
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                {{ form.taglia.label(class="col-sm-2 control-label") }}
                <div class="col-sm-2">
                {{ form.taglia(class="form-control") }}
                </div>

                {{ form.colore_preferito.label(class="col-sm-2 control-label") }}
                <div class="col-sm-3">
                {{ form.colore_preferito(class="form-control") }}
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                {{ form.note.label(class="col-sm-2 control-label") }}
                <div class="col-sm-7">
                {{ form.note(class="form-control") }}
                </div>
            </div>

        </div>

        </p>
    </form>

        <form action="{{ url_for('aggiorna_contatto') }}" method="post">
            {{ form.hidden_tag() }}

            <div class="modal fade" id="modal-aggiorna-contatto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Aggiorna Contatto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form>
                        {{ form2.id(style="display:none", id="id_contatto") }}
                      <div class="mb-3">
                        <label for="social" class="col-form-label">Social:</label>
                        {{ form2.social(class="form-select", id="social") }}
                      </div>
                      <div class="mb-3">
                        <label for="nome" class="col-form-label">Nome:</label>
                        {{ form2.nome(class="form-control", id="nome_profilo") }}
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                    {{ form2.submit_aggiorna(class="btn btn-primary") }}
                  </div>
                </div>
              </div>
            </div>

        </form>

        <form action="{{ url_for('aggiungi_contatto', id=cliente.id) }}" method="post">
            {{ form.hidden_tag() }}

            <div class="modal fade" id="modal-aggingi-contatto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Dettaglio Contatto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="mb-3">
                        <label for="social" class="col-form-label">Social:</label>
                        {{ form2.social(class="form-select", id="social_add") }}
                      </div>
                      <div class="mb-3">
                        <label for="nome" class="col-form-label">Nome:</label>
                        {{ form2.nome(class="form-control", id="nome_profilo_add") }}
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                    {{ form2.submit_aggiungi(class="btn btn-primary") }}
                  </div>
                </div>
              </div>
            </div>

        </form>

    {% if cliente %}

        <div class="container">
        <div class="row">
            <div class="col-sm-8"><h5 style="color: blue;">Contatti Cliente</h5></div>
            </div>
        </div>

        <div class="col-sm-2"></div>
        <div class="col-sm-8">
        <table class="table table-sm">
            <thead>
                <tr>
                  <th>Social</th>
                  <th>Nome</th>
                  <th><button type="button" class="btn btn-primary btn-sm" title="Aggiungi contatto" data-bs-toggle="modal" data-bs-target="#modal-aggingi-contatto"><i class="bi bi-person-plus"></i> Aggiungi</button></th>
                </tr>
            </thead>



            {% if cliente_contatti %}
            <tbody>

                {% for contatto in cliente_contatti %}

                <form action="{{ url_for('elimina_contatto', id=contatto.id) }}" method="post">

                    <tr class="table">
                        <td>
                            {{ contatto.social }}
                        </td>
                        <td>
                            {{ contatto.nome }}
                        </td>
                        <td>
                            <a href ="" title="Modifica" data-bs-toggle="modal" data-bs-target="#modal-aggiorna-contatto" data-bs-social="{{contatto.social}}" data-bs-nomeprofilo="{{contatto.nome}}" data-bs-idcontatto="{{contatto.id}}"><i class="bi bi-pencil-square"></i></a>
                            <button type=submit style="border: 0 none; background: none;" title="Cancella"><a href =""><span class="bi bi-trash3"></span></a></button>
                        </td>
                    </tr>
                </form>

                {% endfor %}

            </tbody>
            {% else %}
            <tbody>
                <tr class="table">
                      <td colspan="5" class="table-active">Nessun contatto registrato</td>
                </tr>
            </tbody>
            {% endif %}
        </table>

        </div>


    {% endif %}

    </div>

      <div class="tab-pane fade" id="nav-acquisti" role="tabpanel" aria-labelledby="nav-acquisti-tab">
            <br>
                <div class="row mb-3 align-items-center">
                    <div class="col-sm-8"><h5 style="color: blue;">Acquisti Cliente</h5></div>
                    </div>

            <div class="table-responsive">
              <table class="table table-sm">
                <thead>
                    <tr>
                      <th>N°</th>
                      <th>Codice</th>
                      <th>Descrizione</th>
                      <th>Shop</th>
                      <th>Prezzo</th>
                      <th>Data Ordine</th>
                      <th>Incasso</th>
                      <th>Data Vendita</th>
                    </tr>
                </thead>
                {% if items %}
                <tbody>

                    {% for item in items %}

                        <tr>
                            <td>
                                {{loop.index}}
                            </td>
                            <td>
                                <a href="{{ url_for('item', codice=item.codice) }}">
                                    {{ item.codice }}
                                </a>
                            </td>
                            <td>{{ item.descrizione }} </td>
                            <td>{{ item.negozio }} - {{ item.region }}</td>
                            <td>{{ item.prezzo }} €</td>
                            <td>{{ item.data_ordine.strftime('%d/%m/%Y') }} </td>
                            <td>{% if item.stato != 'Vendita' %}  {% else %} {{ item.incasso }} € {% endif %}</td>
                            <td>{% if item.stato != 'Vendita' %}  {% else %} {{ item.data_vendita.strftime('%d/%m/%Y') }} {% endif %}</td>

                        </tr>

                    {% endfor %}

                </tbody>
                <tfoot>

                <td>{{ n_acquisti }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Totale</td>
                <td>{{ prezzo_acquisti }} €</td>
                <td></td>

                </tfoot>
                {% else %}
                <tbody>
                    <tr class="table">
                          <td colspan="8" class="table-active">Nessun acquisto</td>
                    </tr>
                </tbody>
                {% endif %}
            </table>
            </div>

      </div>
    </div>

</div>

<script>
var exampleModal = document.getElementById('modal-aggiorna-contatto')
exampleModal.addEventListener('show.bs.modal', function (event) {

  // Button that triggered the modal
  var button = event.relatedTarget

  // Extract info from data-bs-* attributes
  var social = button.getAttribute('data-bs-social');
  var nome = button.getAttribute('data-bs-nomeprofilo');
  var id = button.getAttribute('data-bs-idcontatto');

  // Update the modal's content.
  var modalBodyInput_social = document.getElementById("social");
  var modalBodyInput_nome = document.getElementById("nome_profilo");
  var modalBodyInput_id = document.getElementById("id_contatto");

  modalBodyInput_social.value = social;
  modalBodyInput_nome.value = nome;
  modalBodyInput_id.value = id;

})
</script>




</body>

{% endblock %}