{% extends "base.html" %}

{% block app_content %}

<body  onload="show_day_init()">
    <form action="" method="post" class="form-horizontal">
    {{ form.hidden_tag() }}

    <div class="row mb-3 align-items-center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>{{ form.submit_salva(class="btn btn-default navbar-btn") }}</li>
            </ul>
          </div>
      </div>
    </nav>
    </div>

<div class="row mb-3 align-items-center">
    <h1>Impostazioni</h1>
</div>

<div class="col-md-12">

    <div class="row mb-3 align-items-center">
        <h5 style="color: blue;">
            Gestione notifiche
        </h5>
    </div>

  <div class="row mb-3 align-items-center">
        {{ form.notifiche_mensili.label(class="col-sm-2 control-label") }}
        <div class="col-sm-1">
        {{ form.notifiche_mensili(class="checkbox") }}
        </div>
  </div>
  <div class="row mb-3 align-items-center">
        {{ form.notifiche_scadenze_resi.label(class="col-sm-2 control-label") }}
        <div class="col-sm-1">
            {{ form.notifiche_scadenze_resi(class="checkbox", onclick='show_day("notifiche_scadenze_resi", "mail-giorni-resi", "notifica_giorni_anticipo_resi")') }}
        </div>
        <div class="form-group" id="mail-giorni-resi" style="display:none">
            {{ form.notifica_giorni_anticipo_resi.label(class="col-sm-3 control-label") }}
            <div class="col-sm-2">
                {{ form.notifica_giorni_anticipo_resi(class="form-control") }}
            </div>
        </div>
  </div>
  <div class="row mb-3 align-items-center">
        {{ form.notifiche_scadenze_bot.label(class="col-sm-2 control-label") }}
        <div class="col-sm-1">
            {{ form.notifiche_scadenze_bot(class="checkbox", onclick='show_day("notifiche_scadenze_bot", "mail-giorni-bot", "notifica_giorni_anticipo_bot")') }}
        </div>
        <div class="form-group" id="mail-giorni-bot" style="display:none">
        {{ form.notifica_giorni_anticipo_bot.label(class="col-sm-3 control-label") }}
        <div class="col-sm-2">
            {{ form.notifica_giorni_anticipo_bot(class="form-control") }}
        </div>
        </div>
  </div>
  <div class="row mb-3 align-items-center">
        {{ form.notifiche_scadenze_proxy.label(class="col-sm-2 control-label") }}
        <div class="col-sm-1">
            {{ form.notifiche_scadenze_proxy(class="checkbox", onclick='show_day("notifiche_scadenze_proxy", "mail-giorni-proxy", "notifica_giorni_anticipo_proxy")') }}
        </div>
        <div class="form-group" id="mail-giorni-proxy" style="display:none">
        {{ form.notifica_giorni_anticipo_proxy.label(class="col-sm-3 control-label") }}
        <div class="col-sm-2">
            {{ form.notifica_giorni_anticipo_proxy(class="form-control") }}
        </div>
        </div>
  </div>

    <div class="row mb-3 align-items-center">
        <h5 style="color: blue;">
            Gestione Homepage
        </h5>
    </div>

  <div class="row mb-3 align-items-center">
        {{ form.homepage_scadenze_resi.label(class="col-sm-2 control-label") }}
        <div class="col-sm-1">
            {{ form.homepage_scadenze_resi(class="checkbox", onclick='show_day("homepage_scadenze_resi", "hp-giorni-resi", "homepage_giorni_anticipo_resi")') }}
        </div>
        <div class="form-group" id="hp-giorni-resi" style="display:none">
        {{ form.homepage_giorni_anticipo_resi.label(class="col-sm-3 control-label") }}
        <div class="col-sm-2">
            {{ form.homepage_giorni_anticipo_resi(class="form-control") }}
        </div>
        </div>
  </div>
  <div class="row mb-3 align-items-center">
        {{ form.homepage_scadenze_bot.label(class="col-sm-2 control-label") }}
        <div class="col-sm-1">
            {{ form.homepage_scadenze_bot(class="checkbox", onclick='show_day("homepage_scadenze_bot", "hp-giorni-bot", "homepage_giorni_anticipo_bot")') }}
        </div>
        <div class="form-group" id="hp-giorni-bot" style="display:none">
        {{ form.homepage_giorni_anticipo_bot.label(class="col-sm-3 control-label") }}
        <div class="col-sm-2">
            {{ form.homepage_giorni_anticipo_bot(class="form-control") }}
        </div>
        </div>
  </div>
  <div class="row mb-3 align-items-center">
        {{ form.homepage_scadenze_proxy.label(class="col-sm-2 control-label") }}
        <div class="col-sm-1">
            {{ form.homepage_scadenze_proxy(class="checkbox", onclick='show_day("homepage_scadenze_proxy", "hp-giorni-proxy", "homepage_giorni_anticipo_proxy")') }}
        </div>
        <div class="form-group" id="hp-giorni-proxy" style="display:none">
        {{ form.homepage_giorni_anticipo_proxy.label(class="col-sm-3 control-label") }}
        <div class="col-sm-2">
            {{ form.homepage_giorni_anticipo_proxy(class="form-control") }}
        </div>
        </div>
  </div>

    </form>

</div>
</div>


    <script>
    function show_day(command, target, campogiorni) {
        var command_field = document.getElementById(command);
        var targhet_fields = document.getElementById(target);
        var campogiorni = document.getElementById(campogiorni)
        if (command_field.checked  == true){
            targhet_fields.style.display = "block";
        } else {
           targhet_fields.style.display = "none";
           campogiorni.value = 0;
        }
    }
    function show_day_init() {
        var checkbox_resi = document.getElementById("notifiche_scadenze_resi");
        var targhet_fields_resi = document.getElementById("mail-giorni-resi");
        var checkbox_bot = document.getElementById("notifiche_scadenze_bot");
        var targhet_fields_bot = document.getElementById("mail-giorni-bot");
        var checkbox_proxy = document.getElementById("notifiche_scadenze_proxy");
        var targhet_fields_proxy = document.getElementById("mail-giorni-proxy");

        var checkbox_homepage_resi = document.getElementById("homepage_scadenze_resi");
        var targhet_homepage_fields_resi = document.getElementById("hp-giorni-resi");
        var checkbox_homepage_bot = document.getElementById("homepage_scadenze_bot");
        var targhet_homepage_fields_bot = document.getElementById("hp-giorni-bot");
        var checkbox_homepage_proxy = document.getElementById("homepage_scadenze_proxy");
        var targhet_homepage_fields_proxy = document.getElementById("hp-giorni-proxy");

        if (checkbox_resi.checked  == true){
            targhet_fields_resi.style.display = "block";
            }
        if (checkbox_bot.checked  == true){
            targhet_fields_bot.style.display = "block";
            }
        if (checkbox_proxy.checked  == true){
            targhet_fields_proxy.style.display = "block";
            }

        if (checkbox_homepage_resi.checked  == true){
            targhet_homepage_fields_resi.style.display = "block";
            }
        if (checkbox_homepage_bot.checked  == true){
            targhet_homepage_fields_bot.style.display = "block";
            }
        if (checkbox_homepage_proxy.checked  == true){
            targhet_homepage_fields_proxy.style.display = "block";
            }
    }
    </script>

</body>
{% endblock %}