{% extends 'base.html' %}

{% block app_content %}

<body>
        <div class="row">
            <div class="col-md-12">
                <form action="" method="post" class="form-horizontal">
                    {{ form.hidden_tag() }}

                    <div class="row mb-3 align-items-center">
                        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                          <div class="container">
                                <ul class="nav navbar-nav">
                                    <li>{{ form.submit_salva(class="btn btn-default navbar-btn") }}</li>
                                    <li><button type="button" class="btn btn-default navbar-btn" onclick="location.href='{{ url_for('aggiungi_proxy') }}';">Aggiungi nuovo proxy</button></li>
                                </ul>
                          </div>
                        </nav>
                    </div>

                    <nav>
                      <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Generale</button>
                        <button class="nav-link" id="nav-acquisti-tab" data-bs-toggle="tab" data-bs-target="#nav-acquisti" type="button" role="tab" aria-controls="nav-acquisti" aria-selected="true">Acquisti</button>
                      </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <br>
                    <div class="row mb-3 align-items-center">
                        <h1>Dettaglio Proxy</h1>
                    </div>

                    <div class="row mb-3 align-items-center">
                        <h5 style="color: blue;">Informazioni Proxy</h5>
                    </div>

                        <div class="row mb-3 align-items-center">
                            {% if form.codice.data %}
                            {{ form.codice.label(class="col-sm-2 control-label") }}
                            <div class="col-sm-2">
                                {{ form.codice(class="form-control", readonly=true) }}
                            </div>
                            {% endif %}

                            {{ form.descrizione.label(class="col-sm-2 control-label") }}
                            <div class="col-sm-6">
                                {{ form.descrizione(class="form-control", size=48) }}
                            </div>
                        </div>

                        <div class="row mb-3 align-items-center">
                            {{ form.costo.label(class="col-sm-2 control-label") }}
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <span class="input-group-text">€</span>
                                    {{ form.costo(class="form-control", placeholder="Amount") }}
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3 align-items-center">
                            {{ form.data_attivazione.label(class="col-sm-2 control-label") }}
                            <div class="col-sm-2">
                                {{ form.data_attivazione(class="form-control", max="3000-12-31") }}
                            </div>
                            {{ form.scadenza_giorni.label(class="col-sm-2 control-label") }}
                            <div class="col-sm-2">
                                {{ form.scadenza_giorni(class="form-control", onchange='calcola_data_scadenza("scadenza_giorni", "data_attivazione", "data_scadenza")') }}
                            </div>
                            {{ form.data_scadenza.label(class="col-sm-2 control-label") }}
                            <div class="col-sm-2">
                                {{ form.data_scadenza(class="form-control", max="3000-12-31", readonly=true) }}
                            </div>
                        </div>

                        <div class="row mb-3 align-items-center">
                            {{ form.salva_rinnovo.label(class="col-sm-2 control-label") }}
                            <div class="col-sm-2">
                                {{ form.salva_rinnovo(class="checkbox") }}
                            </div>
                        </div>

                </form>
                </div>
                    <div class="tab-pane fade" id="nav-acquisti" role="tabpanel" aria-labelledby="nav-acquisti-tab">
                        <br>
                        <div class="row mb-3 align-items-center">
                        <div class="col-sm-8"><h5 style="color: blue;">Elenco acquisti</h5></div>
                        </div>

                        <div class="table-responsive">
                          <table class="table table-sm">
                            <thead>
                                <tr>
                                  <th>N°</th>
                                  <th>Codice</th>
                                  <th>Descrizione</th>
                                  <th>Shop</th>
                                  <th>Prezzo</th>
                                  <th>Data Ordine</th>
                                  <th>Incasso</th>
                                  <th>Data Vendita</th>
                                </tr>
                            </thead>
                            {% if items %}
                            <tbody>

                                {% for item in items %}

                                    <tr>
                                        <td>
                                            {{loop.index}}
                                        </td>
                                        <td>
                                            <a href="{{ url_for('item', codice=item.codice) }}">
                                                {{ item.codice }}
                                            </a>
                                        </td>
                                        <td>{{ item.descrizione }} </td>
                                        <td>{{ item.negozio }} - {{ item.region }}</td>
                                        <td>{{ item.prezzo }} €</td>
                                        <td>{{ item.data_ordine.strftime('%d/%m/%Y') }} </td>
                                        <td>{% if item.stato != 'Vendita' %}  {% else %} {{ item.incasso }} € {% endif %}</td>
                                        <td>{% if item.stato != 'Vendita' %}  {% else %} {{ item.data_vendita.strftime('%d/%m/%Y') }} {% endif %}</td>

                                    </tr>

                                {% endfor %}

                            </tbody>
                            <tfoot>

                            <td>{{ n_acquisti }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Totale</td>
                            <td>{{ prezzo_acquisti }} €</td>
                            <td></td>

                            </tfoot>
                            {% else %}
                            <tbody>
                                <tr class="table">
                                      <td colspan="8" class="table-active">Nessun acquisto</td>
                                </tr>
                            </tbody>
                            {% endif %}
                        </table>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    <br>
</body>

<script>
    function calcola_data_scadenza(giorni, data_inizio, data_da_compilare) {
        var giorni = document.getElementById(giorni);
        var data_inizio = document.getElementById(data_inizio)
        var data_da_compilare = document.getElementById(data_da_compilare)

        if (giorni.value != null){
            data_da_compilare.value = new String(new Date(
                                            data_inizio.getFullYear(),
                                            data_inizio.getMonth(),
                                            data_inizio.getDate(),
                                            data_inizio.getHours(),
                                            data_inizio.getMinutes(),
                                            data_inizio.getSeconds()));
        }
        else {
           data_da_compilare.value = null;
        }
    }
</script>

{% endblock %}
