{% extends "base.html" %}

{% block app_content %}
<body>

    <div class="row mb-3 align-items-center"></div>

    <div class="row mb-3 align-items-center">
        <h1 class="page-header">Dashboard</h1>
    </div>

    <div class="col-md-12">
        <form id="form" action="" class="form-horizontal">

        <div class="row">

            <div class="col-md-5">
                <div class="card text-white bg-primary mb-3" style="max-width: 35rem;">
                  <div class="card-header">Movimenti mensili</div>
                    <ul class="list-group list-group-flush">
                        <a class="list-group-item" href="{{ url_for('items_acquisti_mensili') }}">
                            Acquisti Mensili
                            <span class="badge bg-secondary" >{{ n_acquisti_mensili }}</span>
                        </a>
                        <a class="list-group-item" href="{{ url_for('items_vendite_mensili') }}">
                            Vendite Mensili
                            <span class="badge bg-secondary">{{ n_vendite_mensili }}</span>
                    </a>
                    </ul>
                </div>
            </div>

            <div class="col-md-5">
            <div class="card text-white bg-primary mb-3" style="max-width: 35rem;">
                <div class="card-header">Stock</div>
                  <ul class="list-group list-group-flush">
                    <a class="list-group-item" href="{{ url_for('items_stock') }}">
                        Item in stock
                         <span class="badge bg-secondary">{{ n_items_stock }}</span>
                    </a>
                    <a class="list-group-item" href="{{ url_for('items_inconsegna') }}">
                        Item in consegna
                        <span class="badge bg-secondary">{{ n_items_inconsegna }}</span>
                    </a>
                  </ul>
                </div>
            </div>

        </div>

        <div class="col-md-10">
        <div class="card text-white bg-primary mb-3" style="max-width: 70rem;">
            <div class="card-header">Scadenze</div>
              <ul class="list-group list-group-flush">
                <a class="list-group-item" href="{{ url_for('items_reso_in_scadenza') }}">
                    Lista items con reso in scadenza
                    <span class="badge bg-secondary">{{ n_items_reso_in_scadenza }}</span>
                </a>
                <a class="list-group-item" href="{{ url_for('bots_in_scadenza') }}">
                    Lista bots in scadenza
                    <span class="badge bg-secondary">{{ n_bots_in_scadenza }}</span>
                </a>
                <a class="list-group-item" href="{{ url_for('proxies_in_scadenza') }}">
                    Lista proxy in scadenza
                    <span class="badge bg-secondary">{{ n_proxies_in_scadenza }}</span>
                </a>
                <a class="list-group-item" href="{{ url_for('pagamenti_in_scadenza') }}">
                    Lista pagamenti in scadenza
                    <span class="badge bg-secondary">{{ n_pagamenti_in_scadenza }}</span>
                </a>
              </ul>
            </div>
        </div>

        <div class="col-md-10">
        <div class="card text-white bg-primary mb-3" style="max-width: 70rem;">
            <div class="card-header">Statistiche mensili</div>
             <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Acquisti: {{ acquisti }} €
                </li>
                <li class="list-group-item">
                    Vendite: {{ vendite }} €
                </li>
                <li class="list-group-item">
                    Ricavi Lordi: {{ ricavi_lordi }} €
                </li>
                <li class="list-group-item">
                    Ricavi Netti: {{ ricavi_netti }} €
                </li>
                <li class="list-group-item">
                    Valore Stock: {{ val_stock }} €
                </li>
             </ul>
            </div>
        </div>

        </form>
    </div>

</body>
{% endblock %}