{% extends "base.html" %}

{% block app_content %}

<div class="row mb-3 align-items-center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><button type="button" class="btn btn-default navbar-btn" onclick="location.href='{{ url_for('aggiungi_item') }}';">Aggiungi Item</button></li>
            </ul>
      </div>
    </nav>
</div>

<nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Elenco</button>
        <button class="nav-link" id="nav-acquisti-tab" data-bs-toggle="tab" data-bs-target="#nav-acquisti" type="button" role="tab" aria-controls="nav-acquisti" aria-selected="true">Ricerca</button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <br>

    <p class="text-left">
            <h1>Elenco {{ title }}</h1>

            <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    {% if (title == 'Items in consegna') or (title == 'Items in Stock')  %}
                      <th>N°</th>
                      <th>Codice</th>
                      <th>Descrizione</th>
                      <th>Shop</th>
                      <th>Prezzo</th>
                      <th>Data Ordine</th>
                    {% elif title == 'Items reso in scadenza' %}
                      <th>N°</th>
                      <th>Codice</th>
                      <th>Descrizione</th>
                      <th>Shop</th>
                      <th>Prezzo</th>
                      <th>Data Scadenza Reso</th>
                    {% else %}
                      <th>N°</th>
                      <th>Codice</th>
                      <th>Descrizione</th>
                      <th>Shop</th>
                      <th>Prezzo</th>
                      <th>Data Ordine</th>
                      <th>Incasso</th>
                      <th>Data Vendita</th>
                    {% endif %}
                </tr>
                </thead>
                {% if items %}

                    {% for item in items %}

                            {% if (title == 'Items reso in scadenza') %}
                            <tr class="table">
                                <td>
                                    {{loop.index}}
                                </td>
                                <td>
                                    <a href="{{ url_for('item', codice=item.codice) }}">
                                        {{ item.codice }}
                                    </a>
                                </td>
                                <td>{{ item.descrizione }} </td>
                                <td>{{ item.negozio }} - {{ item.region }}</td>
                                <td>{{ item.prezzo }} €</td>
                                <td>{{ item.data_scadenza_reso.strftime('%d/%m/%Y') }} </td>
                            </tr>
                            {% elif (title == 'Items in consegna') or (title == 'Items in Stock') %}
                            <tr class="table">
                                <td>
                                    {{loop.index}}
                                </td>
                                <td>
                                    <a href="{{ url_for('item', codice=item.codice) }}">
                                        {{ item.codice }}
                                    </a>
                                </td>
                                <td>{{ item.descrizione }} </td>
                                <td>{{ item.negozio }} - {{ item.region }}</td>
                                <td>{{ item.prezzo }} €</td>
                                <td>{{ item.data_ordine.strftime('%d/%m/%Y') }} </td>
                            </tr>
                            {% else %}

                            {% if item.stato == 'Acquisto' %}
                            <tr class="table-warning">
                                <td>
                                    {{loop.index}}
                                </td>
                                <td>
                                    <a href="{{ url_for('item', codice=item.codice) }}">
                                        {{ item.codice }}
                                    </a>
                                </td>
                                <td>{{ item.descrizione }} </td>
                                <td>{{ item.negozio }} - {{ item.region }}</td>
                                <td>{{ item.prezzo }} €</td>
                                <td>{{ item.data_ordine.strftime('%d/%m/%Y') }} </td>
                                <td>{% if item.incasso %} {{ item.incasso }} € {% endif %}</td>
                                <td>{% if item.data_vendita %} {{ item.data_vendita.strftime('%d/%m/%Y') }} {% endif %}</td>

                            </tr>
                            {% elif item.stato == 'Vendita' %}
                            <tr class="table-success">
                                <td>
                                    {{loop.index}}
                                </td>
                                <td>
                                    <a href="{{ url_for('item', codice=item.codice) }}">
                                        {{ item.codice }}
                                    </a>
                                </td>
                                <td>{{ item.descrizione }} </td>
                                <td>{{ item.negozio }} - {{ item.region }}</td>
                                <td>{{ item.prezzo }} €</td>
                                <td>{{ item.data_ordine.strftime('%d/%m/%Y') }} </td>
                                <td>{% if item.incasso %} {{ item.incasso }} € {% endif %}</td>
                                <td>{% if item.data_vendita %} {{ item.data_vendita.strftime('%d/%m/%Y') }} {% endif %}</td>

                            </tr>

                            {% elif item.stato == 'Attesa vendita' %}
                            <tr class="table-info">
                                <td>
                                    {{loop.index}}
                                </td>
                                <td>
                                    <a href="{{ url_for('item', codice=item.codice) }}">
                                        {{ item.codice }}
                                    </a>
                                </td>
                                <td>{{ item.descrizione }} </td>
                                <td>{{ item.negozio }} - {{ item.region }}</td>
                                <td>{{ item.prezzo }} €</td>
                                <td>{{ item.data_ordine.strftime('%d/%m/%Y') }} </td>
                                <td>{% if item.incasso %} {{ item.incasso }} € {% endif %}</td>
                                <td>{% if item.data_vendita %} {{ item.data_vendita.strftime('%d/%m/%Y') }} {% endif %}</td>

                            </tr>


                            {% elif item.stato == 'Reso' %}
                            <tr class="table-danger">
                                <td>
                                    {{loop.index}}
                                </td>
                                <td>
                                    <a href="{{ url_for('item', codice=item.codice) }}">
                                        {{ item.codice }}
                                    </a>
                                </td>
                                <td>{{ item.descrizione }} </td>
                                <td>{{ item.negozio }} - {{ item.region }}</td>
                                <td>{{ item.prezzo }} €</td>
                                <td>{{ item.data_ordine.strftime('%d/%m/%Y') }} </td>
                                <td>{% if item.incasso %} {{ item.incasso }} € {% endif %}</td>
                                <td>{% if item.data_vendita %} {{ item.data_vendita.strftime('%d/%m/%Y') }} {% endif %}</td>

                            </tr>
                            {% endif %}

                            {% endif %}
                    {% endfor %}

                {% else %}
                <tbody>
                    <tr class="table">
                          <td colspan="10" class="table-active">Nessun item</td>
                    </tr>
                </tbody>
                {% endif %}

            </table>
            </div>

    </p>

    <div class="text-center">
        <div class="row">
            <div class="col-md-5">
            {% if not prev_url %}
                <button type="button" class="btn btn-light" onclick="location.href='{{ prev_url or '#' }}';" disabled>Indietro</button>
            {% else %}
                <button type="button" class="btn btn-light" onclick="location.href='{{ prev_url or '#' }}';">Indietro</button>
            {% endif %}
            </div>

            <div class="col-md-5">
            {% if not next_url %}
                <button type="button" class="btn btn-light" onclick="location.href='{{ next_url or '#' }}';" disabled>Avanti</button>
            {% else %}
                <button type="button" class="btn btn-light" onclick="location.href='{{ next_url or '#' }}';">Avanti</button>
            {% endif %}
            </div>
        </div>
    </div>

  </div>
    <div class="tab-pane fade" id="nav-acquisti" role="tabpanel" aria-labelledby="nav-acquisti-tab">
        <br>
        <form action="" method="post" class="form-horizontal">
            {{ form.hidden_tag() }}
            <div class="row mb-3 align-items-center">
                <div class="col-sm-8"><h5 style="color: blue;">Ricerca</h5></div>
            </div>

            <div class="row mb-3 align-items-center">

                {{ form.stato.label(class="col-sm-2 control-label") }}
                <div class="col-sm-2">
                    {{ form.stato(class="form-select") }}
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <div class="col-sm-3">
                    {{ form.submit_cerca(class="btn btn-primary") }}
                </div>
            </div>
        </form>

    </div>
  </div>
{% endblock %}