{% extends "base.html" %}

{% block app_content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
        <ul class="nav navbar-nav">
            <li><button type="button" class="btn btn-default navbar-btn" onclick="location.href='{{ url_for('aggiungi_proxy') }}';">Aggiungi Proxy</button></li>
        </ul>
  </div>
</nav>

<p class="text-left">
        <h1>Elenco Proxy</h1>

        <div class="table-responsive">
        <table class="table table-hover">
        <thead>
        <tr>
              <th>N°</th>
              <th>Codice</th>
              <th>Descrizione</th>
              <th>Costo</th>
              <th>Data Attivazione</th>
              <th>Data Scadenza</th>
        </tr>
        </thead>

        {% if proxies %}

            {% for proxy in proxies %}
            <tr>
                <td>
                    {{loop.index}}
                </td>
                <td>
                    <a href="{{ url_for('proxy', codice=proxy.codice) }}">
                        {{ proxy.codice }}
                    </a>
                </td>
                </td>
                <td>{{ proxy.descrizione }} </td>
                <td>{{ proxy.costo }} €</td>
                <td>{{ proxy.data_attivazione.strftime('%d/%m/%Y') }} </td>
                <td>{{ proxy.data_scadenza.strftime('%d/%m/%Y') }} </td>
            </tr>

            {% endfor %}

        {% else %}
            <tbody>
                <tr class="table">
                      <td colspan="6" class="table-active">Nessun proxy</td>
                </tr>
            </tbody>
        {% endif %}

        </table>
        </div>
</p>

<div class="text-center">
    <div class="row">
        <div class="col-md-5">
        {% if not prev_url %}
            <button type="button" class="btn btn-light" onclick="location.href='{{ prev_url or '#' }}';" disabled>Indietro</button>
        {% else %}
            <button type="button" class="btn btn-light" onclick="location.href='{{ prev_url or '#' }}';">Indietro</button>
        {% endif %}
        </div>

        <div class="col-md-5">
        {% if not next_url %}
            <button type="button" class="btn btn-light" onclick="location.href='{{ next_url or '#' }}';" disabled>Avanti</button>
        {% else %}
            <button type="button" class="btn btn-light" onclick="location.href='{{ next_url or '#' }}';">Avanti</button>
        {% endif %}
        </div>
    </div>
</div>

{% endblock %}