{% extends 'base.html' %}

{% block app_content %}

<body class="text-center">
    <form id="form" action="" method="post" class="form-horizontal">
        {{ form.hidden_tag() }}

        <div class="col-md-12">
            <div class="row mb-3 align-items-center"></div>

        <div class="row mb-3 align-items-center">
            <h1>Registrati</h1>
        </div>

                <div class="form-floating4">
                    {{ form.username.label(class="col-sm-2 control-label") }}
                    <div class="form-floating">
                        {{ form.username(class="form-floating") }}
                    </div>
                    {{ form.email.label(class="col-sm-2 control-label") }}
                    <div class="form-floating">
                        {{ form.email(class="form-floating") }}
                    </div>
                    {{ form.password.label(class="col-sm-2 control-label") }}
                    <div class="form-floating">
                        {{ form.password(class="form-floating") }}
                    </div>
                    {{ form.password2.label(class="col-sm-2 control-label") }}
                    <div class="form-floating">
                        {{ form.password2(class="form-floating") }}
                    </div>
                    <br>
                    <div class="form-floating">
                    {{ form.submit(class="btn btn-primary") }}
                    </div>
                </div>

            <br>

        </div>
    </form>
</body>
{% endblock %}
