{% extends "base.html" %}

{% block app_content %}

<body>

    <div class="row mb-3 align-items-center"></div>

    <div class="row mb-3 align-items-center">
        <h1>Statistiche</h1>
    </div>
    <div class="col-md-12">
        <form action="" method="post" class="form-horizontal">
            {{ form.hidden_tag() }}
        <p>

        <div class="row mb-3 align-items-center">
            {{ form.filtro_mese_anno.label(class="col-sm-1 control-label") }}
            <div class="col-sm-5">
            {{ form.filtro_mese_anno(class="form-select") }}
            </div>
            <div class="col-sm-2">
            {{ form.submit(class="btn btn-primary") }}
            </div>
        </div>

        <div class="row mb-3 align-items-center">
            <h5 style="color: blue;">
                Sezione economica:
            </h5>
        </div>

        <div class="row mb-3 align-items-center">
            <div class="col-sm-2">
                <div class="form-group">
                    Acquisti
                    <div class="input-group">
                        <span class="input-group-text">€</span>
                        <input class="form-control" value="{{ acquisti }}">
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <div class="form-group">
                    Numero Acquisti
                        <input class="form-control" value="{{ n_acquisti }}">
                </div>
            </div>
        </div>

        <div class="row mb-3 align-items-center">
            <div class="col-sm-2">
                <div class="form-group">
                    Vendite
                    <div class="input-group">
                        <span class="input-group-text">€</span>
                        <input class="form-control" value="{{ vendite }}">
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <div class="form-group">
                    Numero Vendite
                        <input class="form-control" value="{{ n_vendite }}">
                </div>
            </div>
        </div>

        <div class="row mb-3 align-items-center">
            <div class="col-sm-5">
                <div class="form-group">
                    Ricavi Lordi
                    <div class="input-group">
                        <span class="input-group-text">€</span>
                        <input class="form-control" value="{{ ricavi_lordi }}">
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3 align-items-center">
            <div class="col-sm-5">
                <div class="form-group">
                    Ricavi Netti
                    <div class="input-group">
                        <span class="input-group-text">€</span>
                        <input class="form-control" value="{{ ricavi_netti }}">
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3 align-items-center">
            <h5 style="color: blue;">
            Sezione gestionale:
            </h5>
        </div>

        <div class="row mb-3 align-items-center">
            <div class="col-sm-2">
                <div class="form-group">
                    Valore di acquisto dello stock
                    <div class="input-group">
                        <span class="input-group-text">€</span>
                        <input class="form-control" value="{{ val_stock }}">
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <div class="form-group">
                    Numero di items nello stock
                        <input class="form-control" value="{{ n_items_stock }}">
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-3">
                Items per negozio
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>
                                Negozio
                            </td>
                            <td>
                                Numero
                            </td>
                            <td>
                                Percentuale
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for row in item_per_negozio %}
                        <tr>
                            <td>
                                {{ row[0] }}
                            </td>
                            <td>
                                {{ row[1] }}
                            </td>
                            <td>
                                {{ row[2] }}%
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>

            <div class="col-sm-3">
                Items per bot
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>
                                Bot
                            </td>
                            <td>
                                Numero
                            </td>
                            <td>
                                Percentuale
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for row in item_per_bot %}
                        <tr>
                            <td>
                                {{ row[0] }}
                            </td>
                            <td>
                                {{ row[1] }}
                            </td>
                            <td>
                                {{ row[2] }}%
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
            <div class="col-sm-3">
                Items per proxy
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>
                                Proxy
                            </td>
                            <td>
                                Numero
                            </td>
                            <td>
                                Percentuale
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for row in item_per_proxy %}
                        <tr>
                            <td>
                                {{ row[0] }}
                            </td>
                            <td>
                                {{ row[1] }}
                            </td>
                            <td>
                                {{ row[2] }}%
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>

            <div class="col-sm-3">
                Items per Cliente
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>
                                Cliente
                            </td>
                            <td>
                                Numero
                            </td>
                            <td>
                                Percentuale
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for row in item_per_cliente %}
                        <tr>
                            <td>
                                {{ row[0] }}
                            </td>
                            <td>
                                {{ row[1] }}
                            </td>
                            <td>
                                {{ row[2] }}%
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>



        </p>
        </form>
    </div>

</body>
{% endblock %}


{% block scripts %}
<script>
    $("filtro_mese_anno").keyup(function(){
        $.post('/statistiche');
    });
</script>
{% endblock %}